.card img {
  width:100%;
  
}
.card {
  width: 22rem;

}

/* .container-wrapper {
  display: flex;
 flex-wrap: wrap;
  gap:50px;
  justify-content: center;
  

} */
.image {
  position:relative;
  width:100%;
  height:250px;
}
.image-title {
  width:100%;
  height:100%;
  top:0;
  left:0;
  position:absolute;
  background:rgba(0,0,0,0.6);
  opacity: 0;
  transition:.6s;
}
.eye {
  width:60px;
  height:60px;
}
.image-title:hover {
  opacity:1;
}
.card-text {
  color: var(--bs-secondary-color);
}

